/* Genel stil ayarları */

  .signinpage {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
   
  }
  
  /* Başlık ve açıklama */
  .signinpage .fw-bold {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .signinpage .text-muted {
    color: #6c757d !important;
    margin-bottom: 2rem;
  }
  
  /* Form kontrol stilleri */
  .signinpage .form-control {
    background-color: #f7f7f7;
    border: 1px solid #ced4da;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .signinpage .form-control:focus {
    border-color: #495057;
    background-color: #fff;
    box-shadow: none;
  }
  
  /* Buton stilleri */
  .signinpage .signin-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .signinpage .signin-btn:hover {
    background-color: #0056b3;
  }
  
  .signinpage .google-btn {
    background-color: #dd4b39;
    border: none;
    color: white;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .signinpage .google-btn:hover {
    background-color: #c23321;
  }
  
  .signinpage .facebook-btn {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .signinpage .facebook-btn:hover {
    background-color: #2d4373;
  }
  
  /* Diğer stiller */
  .signinpage .my-4 {
    border-top: 1px solid #dee2e6 !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  